Будет удалено .gitignore
Будет удалено .idea/
Будет удалено bundle-plugin/bnd.bundle.plugin.iml
Будет удалено simple-portlet/simple-portlet.iml
Будет удалено simple-portlet/target/
Будет удалено simplePortlet.iml
